.widget.cat-post-widget {
    border-bottom: 1px solid #ccc;
}

.widget.cat-post-widget h3.widget-title {
    padding: 10px;
    color: #fff;
    background-color: #30a11e;
    margin-bottom: 0;
    border-bottom: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.widget.cat-post-widget #category-posts-3-internal {
    margin-bottom: 0;
}

.widget.cat-post-widget  #category-posts-3-internal li.cat-post-item {
    border-left:  1px solid #ccc;
    border-right:  1px solid #ccc;
    border-bottom: 1px dashed #ccc;
    margin: 0;
    padding: 0;
}

.widget.cat-post-widget  #category-posts-3-internal li.cat-post-item > div {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.widget.cat-post-widget #category-posts-3-internal li.cat-post-item > div .cat-post-thumbnail {
    display: block;
    float: none;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.widget.cat-post-widget #category-posts-3-internal li.cat-post-item > div .cat-post-thumbnail .cat-post-crop {
    width: auto !important;
    height: auto !important;
}

.widget.cat-post-widget #category-posts-3-internal li.cat-post-item > div .cat-post-thumbnail img {
    width: 100px !important;
    height: auto !important;
}

.widget.cat-post-widget #category-posts-3-internal li.cat-post-item > div .short-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widget.cat-post-widget #category-posts-3-internal li.cat-post-item > div .short-content .cat-post-title {
    margin-bottom: 5px;
    font-size: 13px;
    color:  #373737;
}

.widget.cat-post-widget #category-posts-3-internal li.cat-post-item > div .short-content .cat-post-title:hover {
    color: #30a11e;
}

.widget.cat-post-widget #category-posts-3-internal li.cat-post-item > div .short-content p.post-date {
    font-size: 13px;
    margin-bottom: 0;
    color:  #373737;
}

.widget.cat-post-widget #category-posts-3-internal li.cat-post-item > div .short-content p.post-date .fa-clock-o {
    margin-right: 5px;
}

.widget.cat-post-widget .cat-post-footer-link {
    display: block;
    text-align: center;
    padding: 10px;
    border-left:  1px solid #ccc;
    border-right:  1px solid #ccc;
    font-weight: bold;
    color: #30a11e;
}