.single-product .entry-summary .price-container {
    display: none;
}

.single-product .ywctm-custom-button-container .ywctm-custom-button {
    display: block;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff !important;
    text-align: center;
    background: #ed1b24;
    background: -webkit-gradient(linear,0 0,0 100%,from(#ea4d53),to(#ed1b24));
    background: -webkit-linear-gradient(top,#ea4d53,#ed1b24);
    background: -moz-linear-gradient(top,#ea4d53,#ed1b24);
    background: -ms-linear-gradient(top,#ea4d53,#ed1b24);
    background: -o-linear-gradient(top,#ea4d53,#ed1b24);
    text-decoration: none;
    max-width: 300px;
    width: 100%;
}

.single-product .ywctm-custom-button-container .ywctm-custom-button:hover {
    background: -webkit-gradient(linear,0 0,0 100%,from(#ea4d53),to(#ed1b24));
    background: -webkit-linear-gradient(bottom,#ea4d53,#ed1b24);
    background: -moz-linear-gradient(bottom,#ea4d53,#ed1b24);
    background: -ms-linear-gradient(bottom,#ea4d53,#ed1b24);
    background: -o-linear-gradient(bottom,#ea4d53,#ed1b24);
}

.single-product .social-icons {
    text-align: left;
}

.single-product .social-icons .list-social-icons {
    margin-left: 0;
}

.single-product .woocommerce-tabs {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
}

.single-product .product-info {
    margin-bottom: 20px;
}

.single-product .product-info:last-of-type {
    margin-bottom: 0;
}

.single-product .product-info .product-info-title {
    border-bottom: 2px solid  #30a11e;
    margin-bottom: 20px;
}

.single-product .product-info .product-info-title h2 {
    display: inline-block;
    color: white;
    background-color: #30a11e;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: normal;
}

.single-product .related > h2,
.single-product #comments .woocommerce-Reviews-title {
    display: inline-block;
    color: white;
    background-color: #30a11e;
    padding: 10px;
    text-transform: uppercase;
    font-weight: normal;
}

.single-product .related > h2:after,
.single-product #comments .woocommerce-Reviews-title:after {
    content: ' ';
    display: block;
    width: 100%;
    border-bottom: 2px solid  #30a11e;
    position: absolute;
    left: 0;
    margin-top: 10px;
}

.single-product .shop-policy {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 0;
}

.single-product .shop-policy li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

.single-product .shop-policy li img {
    width: 35px;
    height: auto;
    margin-right: 10px;
    align-self: flex-start;
}

.single-product .shop-policy li p {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
}

.single-product #comments {
    padding-top: 0;
}

.single-product #comments .woocommerce-Reviews-title {
    margin-bottom: 20px;
}

aside.widget {
    margin: 0 0 3rem;
}
/*Related Product*/
.single-product .related.products .product .product-item .woocommerce-loop-product__title{
    border-bottom: none;
}

@media screen and (max-width: 767px){
    .single-product .related.products .product .product-item .woocommerce-loop-product__title {
        text-align: center;
    }

    .single-product li.product .product-image-actions .product-cover img {
        margin: auto;
    }

    .single-product .ywctm-custom-button-container .ywctm-custom-button {
        margin: auto;
    }

}